{% extends 'franz/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-4">
            <h1>About Franz Bros LLC</h1>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="" alt="Matt's picture"/>
            </div>
            <div class="col-md-8">
                <p>Matt Franz has over ten years of experience in landscaping and lawn care management. In May of 2015, he graduated from
                Rutgers University, Camden with a degree in Business. Matt has since used his business skills to grow Franz Bros LLC</p>
                <p>Franz Bros LLC began in 2008 when Matt, Chris, and Joe Franz started the business by caring for neighborhood lawns.</p>
            </div>
    </div>
    </div>
{% endblock %}