{% extends 'franz/base.html' %}

{% block content %}
<div class="col-md-8 col-md-offset-3">
    <h1>Lawn Services</h1>
    <p>Something about lawn services.</p>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-3">
    <h1>Landscaping Services</h1>
    <p>Something about landscaping services ie. mulching, patio</p>
</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-3">
    <h1>Fertilizer</h1>
    <p>Something about fertilizer</p>
</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-3">
    <h1>Leaf Removal</h1>
    <p>Something about leaf removal</p>
</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-3">
    <h1>Snow Service</h1>
    <p>Something about snow services.</p>
</div>
</div>
{% endblock %}
